body
{
	color:white;
background:black;
}
a.lien{
	color:white;
	text-decoration:none;
	font-size:20px;
}
a.lien:hover{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}
.Coma{
	float: right;
}
table {
float: right;
border: medium solid #000000;
width: 50%;
}
td, th {
border: thin solid #6495ed;
width: 50%;
}